@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <a id="manage" class="position-relative d-flex align-items-center" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
        <i class="fa-solid fa-user"></i>
        <span class="text ms-1">Account</span>
        <span class="cursor @(ViewContext.HttpContext.Request.Path == "/Identity/Account/Manage" ? "" : "d-none")"></span>
    </a>
    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" type="submit" class="position-relative d-flex align-items-center text-danger">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="text ms-1">Logout</span>
        </button>
    </form>
}
else
{
    <a id="register" asp-area="Identity" asp-page="/Account/Register" class="position-relative d-flex align-items-center">
        <i class="fa-solid fa-right-to-bracket"></i>
        <span class="text ms-1">Register</span>
        <span class="cursor @(ViewContext.HttpContext.Request.Path == "/Identity/Account/Register" ? "" : "d-none")"></span>
    </a>
    <a id="register" asp-area="Identity" asp-page="/Account/Login" class="position-relative d-flex align-items-center">
        <i class="fa-solid fa-user"></i>
        <span class="text ms-1">Login</span>
        <span class="cursor @(ViewContext.HttpContext.Request.Path == "/Identity/Account/Login" ? "" : "d-none")"></span>
    </a>
}
</ul>
