html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
/*    width: 100%;*/
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.glass-light {
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
}

.glass-dark {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
}

header {
    height: calc(100% - 16px);
    margin: 8px;
    border-radius: 8px;
    padding: 8px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    position: fixed;
    z-index: 9999;
}

    header * {
        transition: all .3s ease-in-out;
    }

    header:hover nav a, header:hover nav button {
        padding: 16px 128px 16px 32px;
    }

    header:hover nav .text {
        left: 80px;
        opacity: 1;
    }

main {
    margin-left: auto;
    padding: 8px;
    max-width: calc(100% - 90px);
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

nav a, nav button {
    text-decoration: none;
    color: white;
    border-radius: 8px;
    padding: 16px;
}

nav button {
    background: none;
    border: none;
}

nav .text {
    position: absolute;
    left: 10px;
    opacity: 0;
    font-size: 18px;
}

span.cursor {
    position: absolute;
    left: 0;
    top: calc(50% - (30px / 2));
    height: 30px;
    width: 4px;
    border-radius: 16px;
    background: #e6afcd;
}

nav a:hover, nav button:hover {
    background-color: rgba(255, 255, 255, 0.19);
    text-decoration: none;
    color: white;
}